<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>pyvssebjyrl@tznvy.pbz</string>
	<key>contactName</key>
	<string>Cliff Rowley</string>
	<key>description</key>
	<string>A dead simple TextMate bundle to run Rubocop with the current file.</string>
	<key>name</key>
	<string>Rubocop</string>
	<key>uuid</key>
	<string>6347F043-87B2-4C24-A402-6FCC3F488015</string>
</dict>
</plist>
